<img style="float:right" width="25%" src="EscudoColorTc.jpg">
<h1 style="display: inline-block; padding: 4mm; padding-left= 2em; background-color: navy; line-height: 1.3em; color: white; border-radius: 10px">

    Práctica 6: Recomendación basada en memoria
</h1>

## Gestión de la Información. Curso 2025-2026

## Alumnos:
* Belén Rodríguez Cánovas
* Fernando Arroyo Redondo
___

# 1. Instalación de librerías necesarias

In [ ]:
# Se importa la librería numpy que se va a usar para los vectores que se van a usar
import numpy as np
# Se importa la librería pandas para importar los ficheros csv que se van a necesitar
import pandas as pd
# Se importa la librería pyplot para la creación de gráficos
import matplotlib.pyplot as plt
# Se importa las librerías de sklearn que permiten hacer imágenes de clusters
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

# 2. Importación de datos a un Dataframe

In [ ]:
# Diccionario de datos de usuarios y valoraciones
# Se almacena usando un Dataframe de pandas transformado luego en diccionario
# El fichero se ha creado usando los ficheros proporcionados en el enlace del problema
# Posteriormente se ha unificado en un fichero dataset.xlxs con los campos siguientes:
# userId, movieId, Title, rating

# 1 Carga en el dataframe
df = pd.read_excel('dataset.xlsx')

In [ ]:
# Control de carga
print (df[:4])

# 3. Transformación del dataframe en diccionario

In [ ]:
# Se agrupa por userId y luego transforma cada grupo en un dicionario donde la clave es movieId 
# y los valores Title y rating
data = {}
for userid, group_df in df.groupby('userId'):
    # Conversión de cada fila del grupo en un diccionario mapeado usando movieId
    evaluaciones = {}
    for index, row in group_df.iterrows(): 
        movieId = row['movieId']
        # Creación del diccionario interno con el título y la evaluación
        evaluaciones[movie_id] = {
            'Title' : row ['Title'],
            'rating' : row['rating']
    }
    data[user_id]=evaluaciones

In [ ]:
# Valoracián de una película en particular usuario 1
data[1][1] # Valoración usuario A película 'Toy Story'

In [ ]:
print(data[611])

# 4. Función para pasar del diccionario a las matrices Y(ratings), R(películas vistas)

In [ ]:
def dic_ratings2arrays(dic):
    # Usuarios
    k1=np.unique(list(dic.keys())) #array usuarios
    
    # Películas
    k2=[]
    for i in k1:
        k2=k2 + list(dic[i].keys())

    k2=np.unique(k2) # array de películas

    # Valoraciones
    Y= np.zeros ((len(k1),len(k2))) #array de ratins creado  a cero
    # Relleno de valores de Y, recorriendo los dos vectores de usuarios y películas
    for i in k1:
        for j in k2:
            if j in dic[i].keys():
                Y[k1.tolist().index(i),k2.tolist().index(j)]= dic[i][j]
    return (Y,(Y>0)*1,k1,k2) #La matriz R es (Y>0)*1

# 5. Añadir dos usuarios

In [ ]:
data[611] = {1:{'Toy Story (1995)',4.7},552:{'Three Musketeers, The (1993)',4.3}, 1023:{'Winnie the Pooh and the Blustery Day (1968)',4.5}, 1270:{'Back to the Future (1985)',4.0},2115:{'Indiana Jones and the Temple of Doom (1984)',4.0}, 30793:{'Charlie and the Chocolate Factory (2005)',4.5}}
data[612] = {1:{'Toy Story (1995)',3.5},552:{'Three Musketeers, The (1993)',3.2}, 1090:{'Platoon (1986)',4.5}, 1092:{'Basic Instinct (1992)',4.6}, 1208:{'Apocalypse Now (1979)',4.0},2115:{'Indiana Jones and the Temple of Doom (1984)',4.0}, 20571:{'Matrix, The (1999)',4.8}, 99114:{'Django Unchained (2012)',4.5}, 912:{'Casablanca (1942)',4.0}, 1079:{'Fish Called Wanda, A (1988)':3.9}}

In [ ]:
# Comprobar datos añadidos
print(data[611])
print(data[612])